body {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 20px;
}

.header {
  background-color: #ffc107;
}

.containerbot {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.containerbot::after {
  content: "";
  clear: both;
  display: table;
}

.containerbot img {
  float: left;
  max-width: 70px;
  width: 100%;
  margin-right: 20px;
  border-radius: 70%;
}

.containerbot img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}
